openapi: 3.0.3
info:
  version: 4.1.0
  title: Order API
  termsOfService: 'https://example.com/terms/'
  license:
    name: Ninja Van
    url: https://www.ninjavan.co/vi-vn/
  contact:
    email: devsupport@ninjavan.co
  x-logo:
    url: 'https://images.ctfassets.net/iu7xhxelvu8m/6LC1QNfA1NyDGfp8sBN0gK/ef728c17096218198e06e1a3d990804b/nv-logo-top-sg.svg'
  description:
    $ref: ./info-description.md
externalDocs:
  description: Tài liệu API phiên bản tiếng Anh
  url: 'https://ninjaorderapibeta.docs.apiary.io/'
servers:
  - url: 'https://api-sandbox.ninjavan.co/sg'
  - url: 'https://api.ninjavan.co/vn'
paths:
  '/2.0/oauth/access_token':
    $ref: paths/auth.yaml
  '/4.1/orders':
    $ref: paths/order.yaml
